################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RayTracer/v16
/x64
/textures
/img_src
/models